<!DOCTYPE html>
<html>
<head>
  <title>Crafty Gatherings</title>
  <link href="/static/styles.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" href="/static/brandLogo.png" type="image/png">
</head>
<body class="bg-beige-200">
  <!-- Hero Section -->
  <header class="bg-white shadow-md sticky top-0 z-50">
    <div class="container mx-auto flex justify-between items-center py-4 px-6">
      <a href="/" class="flex items-center">
        <img src="/static/brandLogo.png" alt="Crafty Gatherings Logo" class="rounded-lg shadow-md w-16">
        <span class="ml-4 text-xl font-bold text-gray-800">Crafty Gatherings</span>
      </a>
      <nav class="flex space-x-6">
        <a href="/" class="text-gray-800 hover:text-blue-500 font-medium">Home</a>
        <a href="/contact" class="text-gray-800 hover:text-blue-500 font-medium">Contact Us</a>
      </nav>
    </div>
  </header>

  <!-- Product Grid -->
  <main class="container mx-auto py-12">
    <h2 class="text-3xl font-semibold text-center mb-8">Our Creations</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      {{ range $index, $p := . }}
      <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <img src="{{index $p.Images 0}}" alt="{{$p.Name}}" class="w-full h-64 object-cover">
        <div class="p-4">
          <h3 class="text-lg font-bold">{{$p.Name}}</h3>
          <p class="text-gray-600 mt-2">$25.00</p>
          <button class="mt-4 px-4 py-2 cart-btn rounded-lg">
            <a class="cart-btn" href="/product/details?id={{$index}}">Buy Now</a>
          </button>
        </div>
      </div>
      {{end}}
    </div>
  </main>

  <!-- Footer -->
  <footer class="bg-gray-800 text-white py-6 bottom-0 w-full">
    <div class="container mx-auto text-center">
      <p class="text-sm mb-4">&copy; 2025 Crafty Gatherings. All rights reserved.</p>
      <p class="text-xs mb-2 text-gray-400">The term 'Etsy' is a trademark of Etsy, Inc. This Application uses Etsy's API, but is not endorsed or certified by Etsy.</p>
      <div class="flex justify-center space-x-4">
        <a href="https://www.instagram.com" target="_blank" class="text-white hover:text-gray-400">
          <img src="/static/instagramLogo.png" alt="Instagram" class="w-6 h-6 inline">
        </a>
        <a href="https://www.etsy.com" target="_blank" class="text-white hover:text-gray-400">
          <img src="/static/etsyLogo.png" alt="Etsy" class="w-6 h-6 inline">
        </a>
        <a href="https://www.facebook.com" target="_blank" class="text-white hover:text-gray-400">
          <img src="/static/facebookLogo.jpg" alt="Facebook" class="w-6 h-6 inline">
        </a>
      </div>
    </div>
  </footer>
</body>
</html>
